body{
    background-image: url('../image/background-img.png');
}
#app{
    margin-bottom: 60px;
}
.food-body {
    width: 80%;
    margin: auto;
}

#food-description {
    text-align: center;
    font-size: 16px;
}

#food-name {
    width: 160px;
    height: 20px;
    text-align: left;
    overflow: hidden;
}

#food-date {
    width: 100px;
    height: 20px;
    text-align: right;
    overflow: hidden;
}

#food-img:hover {
    -webkit-transform: scale(1.04);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05);
    -webkit-transition: 350ms ease;
    -moz-transition: 350ms ease;
    -ms-transition: 350ms ease;
    -o-transition: 350ms ease;
    transition: 350ms ease;
}

#food-img {
    height: 180px;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
    -webkit-transition: 150ms ease;
    -moz-transition: 150ms ease;
    -ms-transition: 150ms ease;
    -o-transition: 150ms ease;
    transition: 150ms ease;
}
/*Navigate*/
#header {
    display: block;
    width: 80%;
    height:100px;
    margin-bottom: 20px;
    position: relative
}

div#logo {
    height: 28px;
    position: absolute;
    top: 30px;
    left: 0;
    font-size: 25px;
    font-family: AlexonBoldRegular, sans-serif;
    background: url(../image/images/2.jpg) no-repeat 0 50%
}

div#logo a {
    line-height: 28px;
    padding-left: 35px;
    font-weight: bold;
    color: #1275ba
}

div.main-menu-block {
    position: absolute;
    right: 0;
    top: 35px;
}

ul#main-menu {
    list-style: none;
}

ul#main-menu li {
    float: left;
    position: relative
}

ul#main-menu li a {
    display: block;
    font: 18px HelveticaLTStdBold, sans-serif;
    min-width: 100px;
    height: 40px;
    text-align: center;
    line-height: 30px
}

ul#main-menu li a:hover {
    color: #1275ba;
    background: url(../image/images/menu_hover.png) no-repeat;
}

ul#main-menu li a.active-state {
    color: #1275ba;
    background: url(../image/images/menu_hover.png) no-repeat;
}

/*slideshow */
#picture-sliding {
    position: relative;
    z-index: -1;
    width: 100%;
    margin: auto;
}

#btn_1 {
    font-size: 40px;
    position: absolute;
    opacity: 0.5;
    z-index: 3;
    top: 40%;
    left: 6.5%;
}

#btn_2 {
    font-size: 40px;
    position: absolute;
    opacity: 0.5;
    z-index: 3;
    top: 40%;
    right: 7%;
}

/*footer*/
#footer {
    /*height: 40px;

    !*关键*!
    position: relative;
    margin-top:-40px;
    color: #aaaaaa;*/
}

#gotop {
    display: none;
    position: fixed;
    right:10px;
    bottom: 0px;
}

/*slogan*/
#slogan h3:hover {
    color: #00b3ee;
}

#slogan h3 {
    font-weight: 700;
    -webkit-animation: twinkling 5s infinite ease-in-out;
}

#slogan {
    margin: 30px auto;
}

@-webkit-keyframes twinkling {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

/*userMessageShowed*/
.userMessage-ul li {
    list-style-type: none;
}

.modify-userMessage {
}

/*Navigate*/
#main-menu {
    list-style-type: none;
}
#main-menu li{
    float:left;
    position: relative;
}
/*个人中心*/
.userImg{
    width:150px;
    height:155px;
}

/*login register button align center*/
.login-wrap{
    margin-left:auto;
    margin-right:auto;
}
/*link active style*/
.active{
    color:green;
}
